# Node.js and npm
node_modules/
npm-debug.log

# TypeScript
*.tsbuildinfo

# IDE and editor files
.vscode/
.idea/
.editorconfig

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Other
.env
coverage/
dist/
build/

subscriptions.json
